In [ ]:
x=10
print(x)
y=3.14
print(y)
name="john"
pri

In [ ]:
print('hello world')
print('mythri')
print('computer science engineering')

hello world
mythri
computer science engineering

In [ ]:
print('i am your student')

i am your student

In [11]:
x=10
print(x)
y=3.14
print(y,name)
name="john"
print(name)
print(name + 'is a teacher')
print(x,y,name)

10
3.14 john
john
johnis a teacher
10 3.14 john

In [13]:
name=input('enter your name')
a=input('enter a number')
print(name)

enter your namekanasu
enter a number7
kanasu

In [14]:
a=input("enter your number")
b=input("enter your number")
c=(a+b)
print(c)

enter your number17
enter your number7
177

area of circle

In [25]:
a=int(input("enter the number"))
b=int(input("enter the number"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

enter the number12
enter the number13
25
-1
156
0.9230769230769231
12
106993205379072

In [23]:
r=float(input("enter the radius"))
area=3.14*r*r
print(area)

enter the radius1
3.14

temperatur converter

In [26]:
celsius=float(input("enter temperature in celsius"))
fahrenheit=(celsius*9/5)+32
print("temperature in fahrenheit:",fahrenheit)

enter temperature in celsius143
temperature in fahrenheit: 289.4